



// .hero-container {
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: max(1.5vw, 0.25rem);
//     box-shadow: inset 0 0 50px black; 
// }

.hero {
    width: 100%;
    max-width: 768px;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-shadow: inset 0 0 50px black; 
}

.hero-content {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}