body {
    background-color: black;
    display:flex;
    justify-content: space-around;
}

.aside-left, .aside-right {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 500px;
    background-size: cover;
    background-position: center;
    // width: 100%;
    /* position: relative; */
} 
.aside__content {
    width: 100%;
    height: 100%;

}
.trunk {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    aside {
        width: 300px;
        // width: clamp(200px, 50%, 300px);
    }
}

@media (max-width: 992px) {
    .aside-left, .aside-right {
        display: none;
    }

}

@media (max-width: 768px) {

}  

@media (max-width: 576px) {

}