<footer class="d-flex justify-content-between py-2 px-4">
    <ul class="inline-list">
        <a href="#"><li class="inline-item">CGU</li></a>
        <a href="#"><li class="inline-item">Mentions Légales</li></a>
        <a href="#"><li class="inline-item">Contact</li></a>
    </ul>

    <div>
        <a href="#"><div class="btn btn-sm btn-primary"><i class="bi bi-linkedin"></i></div></a>
        <a href=""><div class="btn btn-sm btn-primary"><i class="bi bi-instagram"></i></div></a>
        <a href=""><div class="btn btn-sm btn-primary"><i class="bi bi-facebook"></i></div></a>
    </div>
</footer>