<nav class="d-flex justify-content-between py-2 px-2 px-md-4">
    <secton>
        <a href="{{ path('app_arneis_home') }}"><div><i class="fas fa-dice"></i></div></a>
            <div class="logoArns d-flex justify-content-center">
                <div class="logoArns" >
                    <img src="{{ asset('build/img/gen/logo.jpg') }}" alt="logo" width="50" height="50">
                </div>
                
                <div class="px-3"><h1>ÀIRNEIS</h1></div>
            </div>
            
        </a>
    </secton>
    <div>
        <a href="{{ path('app_arneis_search') }}"><div class="btn btn-sm btn-primary"><i class="bi bi-search"></i></div></a>
        <a href="{{ path('app_arns_basket') }}"><div class="btn btn-sm btn-primary"><i class="bi bi-cart"></i></div></a>


        <button class="btn  btn-sm btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-list"></i></button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">        
                    Bonjour 
                    {% if app.user %}
                        {{ app.user.firstname }}
                    {% else %}
                        visiteur
                    {% endif %}
                </h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column justify-content-center align-items-center fluid">
                {% if app.user %}
                    <a href="{{ path('app_logout') }}"><div class="btn btn-sm btn-primary my-2">Deconnexion</div></a>
                    <a href="{{ path('app_arns_basket') }}"><div class="btn btn-sm btn-primary my-2">Votre panier</div></a>
                    <a href="{{ path('app_arneis_user_profil') }}"><div class="btn btn-sm btn-primary my-2">Gérer votre compte</div></a>
                    

                {% else %}
                    <a href="{{ path('app_login') }}"><div class="btn btn-sm btn-primary my-2">Connexion</div></a>
                    <a href="{{ path('app_register') }}"><div class="btn btn-sm btn-primary my-2">Créer un compte</div></a>
  
                {% endif %}
                <hr>
                <a href="{{ path('app_register') }}"><div class="btn btn-sm btn-primary my-2">Catégories</div></a>
                <a href="{{ path('app_register') }}"><div class="btn btn-sm btn-primary my-2">Matière</div></a>
                <a href="{{ path('app_register') }}"><div class="btn btn-sm btn-primary">Cherche</div></a>

                <hr>
                <a href="{{ path('app_register') }}"><div class="btn btn-sm btn-primary my-2">CGU</div></a>
                <a href="{{ path('app_register') }}"><div class="btn btn-sm btn-primary my-2">Mentions Légales</div></a>
                <a href="{{ path('app_register') }}"><div class="btn btn-sm btn-primary my-2">Contact</div></a>
                <a href="{{ path('app_register') }}"><div class="btn btn-sm btn-primary my-2">A propos d'ÀIRNEIS</div></a>
            </div>
        </div>
    </div>
</nav>
