<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#renewPswrdModal">
  Renouveler votre mot de passe
</button>

<!-- Modal -->
<div class="modal fade" id="renewPswrdModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Renouvellement du mot de passe</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Un lien pour changer votre mot de passe doit vous être envoyer.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{{ path('app_arneis_user_send_renew_pswrd') }}"><button class="btn btn-sm btn-primary">Envoyer</button></a>
        
      </div>
    </div>
  </div>
</div>
