:root {
    --prim: #337733;
    --prim-actv: #4eb151;
    --prim-drk: #205121;
    --prim-drk2: #0d290d;
    --prim-lght: #bce9bc;

    --scnd: #cc5500; 
    --scnd-actv: #ff8833;
    --scnd-drk: #994400;
    --scnd-drk2: #662200;
    --scnd-lght: #ffddbb;
    
    --thrd: #7d53de;
    --thrd-actv: #a98cff;
    --thrd-drk: #4f2fb2;
    --thrd-drk2: #2a1a6d;
    --thrd-lght: #c7b3ff;

    --succ: #337733; 
    --warn: #FFB400;
    --dngr: #D90429;

    --blk: #000000;

    --drk1: #111111;
    --drk2: #222222;
    --drk3: #333333;
    --drk4: #444444;
    --drk5: #555555;

    --sft1: #777777;
    --sft2: #888888;
    --sft3: #999999;
    --sft4: #AAAAAA;
    --sft5: #BBBBBB;
    
    --wht: #FFFFFF;

    --grad-prim-1: linear-gradient(to bottom, var(--prim), var(--prim-drk));
    --grad-prim-2: linear-gradient(to bottom, var(--prim-actv), var(--prim-drk2));
    --grad-scnd-1: linear-gradient(to bottom, var(--scnd), var(--scnd-drk));
    --grad-scnd-2: linear-gradient(to bottom, var(--scnd-actv), var(--scnd-drk2));
    --grad-thrd-1: linear-gradient(to bottom, var(--thrd), var(--thrd-drk));
    --grad-thrd-2: linear-gradient(to bottom, var(--thrd-actv), var(--thrd-drk2));

    --shdw-drk:rgba(0,0,0,0.5);
    --shdw-lght: rgba(255,255,255,0.5);
    --shdw-succ: rgba(var(--succ), 0.5);
    --shdw-warn: rgba(var(--warn), 0.5);
    --shdw-dngr: rgba(var(--dngr), 0.5);


}

.txt-sft1 {
    color: var(--sft1);
}
.txt-sft2 {
    color: var(--sft2);
}
.txt-sft3 {
    color: var(--sft3);
}
.txt-sft4 {
    color: var(--sft4);
}








.txt-succ {
    color: var(--succ);
}
.txt-warn {
    color: var(--warn);
}
.txt-danger {
    color: var(--danger);
}
.txt-soft {
    color: var(--soft);
}
.txt-wht {
    color: white;
}
.txt-bld {
    font-weight: bold;
}
// border shadow
.brdr-shdw-D {
    box-shadow: var(--shadowD);
}
.brdr-shdw-L {
    box-shadow: var(--shadowW);
}
.brdr-shdw-S {
    box-shadow: var(--shadow-succ);
}

.shdw-in-D {
    box-shadow: inset 0 0 100px black ; 
  }

.hr-prim {
    border: 1px solid var(--prim-dark2);
    width: 100%;
}
.hr-second {
    border: 1px solid var(--second-dark2);
    width: 100%;
}
.hr-soft {
    border: 1px solid var(--soft);
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
}
.hr-blk {
    border: 2px solid black;
    width: 100%;
    margin:1px;
}

.bk-filter-gs {
    backdrop-filter: grayscale(100%);
}