// text color
.txt-prim {
    color: var(--prim);
}
.txt-prim-actv {
    color: var(--prim-actv);
}
.txt-prim-drk {
    color: var(--prim-drk);
}
.txt-prim-lght {
    color: var(--prim-lght);
}

.txt-scnd {
    color: var(--scnd);
}
.txt-scnd-actv {
    color: var(--scnd-actv);
}
.txt-scnd-drk {
    color: var(--scnd-drk);
}
.txt-scnd-lght {
    color: var(--scnd-lght);
}

.txt-thrd {
    color: var(--third);
}
.txt-thrd-actv {
    color: var(--third-actv);
}
.txt-thrd-drk {
    color: var(--thrd-drk);
}
.txt-thrd-lght {
    color: var(--third-lght);
}

.txt-sft1 {
    color: var(--sft1);
}
.txt-sft2 {
    color: var(--sft2);
}
.txt-sft3 {
    color: var(--sft3);
}
.txt-sft4 {
    color: var(--sft4);
}
.txt-sft5 {
    color: var(--sft5);
}

.txt-wht {
    color: var(--wht);
}
.txt-blk {
    color: var(--blk);
}   