{% extends 'skynn.html.twig' %}

    {% block lang %}fr{% endblock %}
    {% block title %}CV Yannick TINDY{% endblock %}
    {% block og_title %}CV Yannick TINDY{% endblock %}

    {% block description %}
       Cv Yannick TINDY, développeur web fullstack. Admisteur des sytèmes d'information
    {% endblock %}
    {% block og_description %}
    Cv Yannick TINDY, développeur web fullstack. Admisteur des sytèmes d'information
    {% endblock %}

    {% block keywords %}CV Yannick TINDY{% endblock %}

    {% block canonical %}https://www.silenus.fr{% endblock %}
    {% block og_link %}https://www.silenus.fr{% endblock %}

    {# {% block og_image %}{{randomBanner}}{% endblock %} #}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> #}
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    {{ encore_entry_link_tags('airnes') }}

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}


    
    <section class="container">
        {# --------------------------------------------------------------------------------- #}
        {# Header    ----------------------------------------------------------------------- #}
    <header>
        {% include "airneis/partials/nav.html.twig" %}
        {% include "airneis/partials/slide-hero.html.twig" %}
    </header>
    



        <main>
        {% if panier is empty %}
            <h2 class="text-center">Votre panier est vide</h2>
        {% else %}
        <section class="container-fluid">
            <h2 class="text-center"> Votre panier en cours :</h2>
            
            <article class="">
                <table class="table table-striped table-hover rounded">
                    <thead>
                        <tr>
                            <th scope="col"><p class="txt-soft">Image</p></th>
                            <th scope="col"><p class="txt-soft">Nom</p></th>
                            <th scope="col"><p class="txt-soft text-center">PU</p></th>
                            <th scope="col"><p class="txt-soft text-center">Quatité</p></th>
                            <th scope="col"><p class="txt-soft text-center">Total</p></th>
                            <th scope="col"><p class="txt-soft text-end"></p></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set total = 0 %}
                        {% for line in panier %}
                            {% set lineTotal = line.quantity * line.product.price %}
                            {% set total = total + lineTotal %}
                            <tr>
                                <td><img src="{{ line.img }}" alt="{{ line.product.name }}" class="miniature"> </td>
                                <td><a href="{{ path('app_arneis_product', {'productId': line.product.id}) }}"><p class="">{{ line.product.name }}</p></a></td>
                                <td><p class="txt-soft text-center m-0">{{ line.product.price }} €</p></td>
                                <td><p class="txt-soft text-center m-0">{{ line.quantity }}</p></td>
                                <td><p class="txt-soft text-center m-0">{{ lineTotal }} €</p></td>
                                <td class="text-end"><a href="{{ path('app_arns_basket_remove_product', {'productId': line.product.id}) }}">
                                    <button class="btn btn-danger">Supprimer</button>
                                </a></td>
                            </tr>
                        {% endfor %}       
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><h4>Total</h4></td>
                                <td><h4>{{ total }} €</h4></td>
                                <td></a></td>
                            </tr>
                    </tbody>
                </table>   


            </article>

            
            <a href="{{ path('app_arns_remove_basket') }}" class="btn btn-primary">supprimer ce panier</a>
            <a href="{{ path('app_arns_basket_order') }}" class="btn btn-primary">Valider votre commande</a>
        </section>
        {% endif %}
        <a href="{{ path('app_arneis_home') }}" class="btn btn-primary">Poursuivre vos achats</a>

        </main>
        {% include "airneis/partials/footer.html.twig" %}

        {# --------------------------------------------------------------------------------- #}
    </section>

    
    {# end aside ----------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------- #}

   
    
{% endblock %}


