{% extends 'skynn.html.twig' %}

    {% block lang %}fr{% endblock %}
    {% block title %}CV Yannick TINDY{% endblock %}
    {% block og_title %}CV Yannick TINDY{% endblock %}

    {% block description %}
       Cv Yannick TINDY, développeur web fullstack. Admisteur des sytèmes d'information
    {% endblock %}
    {% block og_description %}
    Cv Yannick TINDY, développeur web fullstack. Admisteur des sytèmes d'information
    {% endblock %}

    {% block keywords %}CV Yannick TINDY{% endblock %}

    {% block canonical %}https://www.silenus.fr{% endblock %}
    {% block og_link %}https://www.silenus.fr{% endblock %}

    {# {% block og_image %}{{randomBanner}}{% endblock %} #}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> #}
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    {{ encore_entry_link_tags('airnes') }}

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}


    
    <section class="container">
        {# --------------------------------------------------------------------------------- #}
        {# Header    ----------------------------------------------------------------------- #}
    <header>
        {% include "airneis/partials/nav.html.twig" %}
        {% include "airneis/partials/slide-hero.html.twig" %}
    </header>
    



        <main>
            <section class="p-3">
                <h3>VENANT DES HAUTES TERRES D'ÉCOSSE NOS MEUBLES SONT IMMORTELS</h3>
            </section>
            <section class="container-fluid">
                <h4 class="text-center">Nos catégories de meubles</h4>
                <article class="p-5">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                        {% for category in categories %}
                        <div class="col">
                            <a href="{{ path('app_arneis_category', {'categorySlug': category.slug}) }}" class="text-decoration-none">
                                <div class="card h-100">
                                    <img src="{{ asset(category.file) }}" class="card-img-top" alt="{{ category.imgName }}">
                                    <div class="card-body">
                                        <h5 class="card-title">Categorie : {{ category.name }}</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </article>
            </section>

            <section class="container-fluid">
                <h4 class="text-center">Nos matières de prédilection</h4>
                <article class="p-5">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                    {% for matter in matters %}
                    <div class="col">
                        <a href="{{ path('app_arneis_matter', {'matterSlug': matter.slug}) }}" class="text-decoration-none">
                            <div class="card h-100">
                                <img src="{{ asset(matter.file) }}" class="card-img-top" alt="{{ matter.imgName }}">
                                <div class="card-body">
                                    <h5 class="card-title">Matière : {{ matter.name }}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </article>
            </section>
        </main>
        {% include "airneis/partials/footer.html.twig" %}

        {# --------------------------------------------------------------------------------- #}
    </section>

    
    {# end aside ----------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------- #}

   
    
{% endblock %}

