{% extends 'skynn.html.twig' %}

    {% block lang %}fr{% endblock %}
    {% block title %}CV Yannick TINDY{% endblock %}
    {% block og_title %}CV Yannick TINDY{% endblock %}

    {% block description %}
       Cv Yannick TINDY, développeur web fullstack. Admisteur des sytèmes d'information
    {% endblock %}
    {% block og_description %}
    Cv Yannick TINDY, développeur web fullstack. Admisteur des sytèmes d'information
    {% endblock %}

    {% block keywords %}CV Yannick TINDY{% endblock %}

    {% block canonical %}https://www.silenus.fr{% endblock %}
    {% block og_link %}https://www.silenus.fr{% endblock %}

    {# {% block og_image %}{{randomBanner}}{% endblock %} #}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> #}
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    {{ encore_entry_link_tags('airnes') }}

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}


    
    <section class="container">
        {# --------------------------------------------------------------------------------- #}
        {# Header    ----------------------------------------------------------------------- #}
    <header>
        {% include "airneis/partials/nav.html.twig" %}
    </header>
    



        <main>
            <section class="p-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Veuillez saisir une adresse</h3>
                        {{ form_start(form) }}
                        <div class="mb-3">
                            {{ form_widget(form) }}
                        </div>
                        <button class="btn btn-sm btn-primary">{{ button_label|default('Enregistrer') }}</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </section>
                        
        </main>
        {% include "airneis/partials/footer.html.twig" %}

        {# --------------------------------------------------------------------------------- #}
    </section>

    
    {# end aside ----------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------- #}

   
    
{% endblock %}
