{% extends 'skynn.html.twig' %}

    {% block lang %}fr{% endblock %}
    {% block title %}CV Yannick TINDY{% endblock %}
    {% block og_title %}CV Yannick TINDY{% endblock %}

    {% block description %}
       Cv Yannick TINDY, développeur web fullstack. Admisteur des sytèmes d'information
    {% endblock %}
    {% block og_description %}
    Cv Yannick TINDY, développeur web fullstack. Admisteur des sytèmes d'information
    {% endblock %}

    {% block keywords %}CV Yannick TINDY{% endblock %}

    {% block canonical %}https://www.silenus.fr{% endblock %}
    {% block og_link %}https://www.silenus.fr{% endblock %}

    {# {% block og_image %}{{randomBanner}}{% endblock %} #}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> #}
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    {{ encore_entry_link_tags('airnes') }}

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}


    
    <section class="container">
        {# --------------------------------------------------------------------------------- #}
        {# Header    ----------------------------------------------------------------------- #}
    <header>
        {% include "airneis/partials/nav.html.twig" %}
        {% include "airneis/partials/slide-hero.html.twig" %}
    </header>
    



        <main>

            <section class="container-fluid">
                <h2 class="text-center">Nos articles {{ category.name }}</h2>
                <h3 class="text-success">Page {{ currentPage }}/{{ totalPages }}</h3>
           
                    <section class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                        {% for product in products %}
                        <article class="col">
                            <a href="{{ path('app_arneis_product', {'productId': product.product.id}) }}" class="text-decoration-none">
                                <div class="card h-100">
                                    <img src="{{ product.imagePath }}" class="card-img-top" alt="{{ product.product.name }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.product.name }}</h5>
                                    </div>
                                </div>
                            </a>
                        </article>
                        {% endfor %}
                    </section>
            

                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if currentPage > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('app_arneis_category', {'categorySlug': category.slug, 'page': currentPage - 1}) }}">
                                <i class="fas fa-arrow-left"></i> Précédent
                            </a>
                        </li>
                        {% endif %}

                        {% for i in 1..totalPages %}
                        <li class="page-item {% if i == currentPage %}active{% endif %}">
                            <a class="page-link" href="{{ path('app_arneis_category', {'categorySlug': category.slug, 'page': i}) }}">{{ i }}</a>
                        </li>
                        {% endfor %}

                        {% if currentPage < totalPages %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('app_arneis_category', {'categorySlug': category.slug, 'page': currentPage + 1}) }}">
                                Suivant <i class="fas fa-arrow-right"></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </section>

        </main>
        {% include "airneis/partials/footer.html.twig" %}

        {# --------------------------------------------------------------------------------- #}
    </section>

    
    {# end aside ----------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------- #}

   
    
{% endblock %}

