{% extends 'skynn.html.twig' %}

    {% block lang %}fr{% endblock %}
    {% block title %}CV Yannick TINDY{% endblock %}
    {% block og_title %}CV Yannick TINDY{% endblock %}

    {% block description %}
       Cv Yannick TINDY, développeur web fullstack. Admisteur des sytèmes d'information
    {% endblock %}
    {% block og_description %}
    Cv Yannick TINDY, développeur web fullstack. Admisteur des sytèmes d'information
    {% endblock %}

    {% block keywords %}CV Yannick TINDY{% endblock %}

    {% block canonical %}https://www.silenus.fr{% endblock %}
    {% block og_link %}https://www.silenus.fr{% endblock %}

    {# {% block og_image %}{{randomBanner}}{% endblock %} #}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> #}
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    {{ encore_entry_link_tags('airnes') }}

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}


    
    <section class="container">
        {# --------------------------------------------------------------------------------- #}
        {# Header    ----------------------------------------------------------------------- #}
    <header>
        {% include "airneis/partials/nav.html.twig" %}
    </header>
 
    <main>
        <section class="p-3">
            <h3>Vos Informations</h3>
        </section>
        <section class="row g-4">
            <article class="card col-12 col-md-6">
                <div class="card-body d-flex flex-column justify-content-around align-items-center">
                    <h5 class="card-title">{{ profil.firstname }} {{ profil.lastname }}</h5>
                    <p class="card-text">
                        <strong>Email:</strong> {{ profil.email }}<br>
                        {% if profil.mobile %}
                            <strong>Mobile:</strong> {{ profil.mobile }}<br>
                        {% endif %}
                    </p>
                </div>
            </article>
            <article class="card col-12 col-md-6">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <a href="{{ path('app_login') }}" class="btn btn-sm btn-primary my-2">Modifier vos informations</a>
                    {% include "airneis/partials/renewPswrd.html.twig" %}
                    <section class="card-body d-flex flex-column justify-content-center align-items-center">
                        {% if panier is not null and panier is not empty %}
                            <h4 class="text-success">Vous avez un panier en cours !</h4>
                            <a href="{{ path('app_arns_basket') }}"><div class="btn btn-sm btn-success">Voir votre panier en cours</div></a>
                        {% endif %}
                    </section>
                </div>
            </article>
        </section>
        <hr>

        <section class="d-flex flex-column justify-content-center align-items-center fluid">
            
            {% if baskets|length > 0 %}
            <h3>Votre historique de paniers</h3>
            <section class="d-flex justify-content-between align-items-center flex-wrap fluid p-3">
                {% for key, basket in baskets %}
                    <!-- Button trigger modal -->
                    <button type="button" class="card px-4 py-3" data-bs-toggle="modal" data-bs-target="#basket{{ key }}">
                        <p>
                            Panier du {{ basket.createdAt|date('d/m/Y') }} <br>
                            Statut: {{ basket.status }}
                        </p>
                        <div class="btn btn-sm btn-primary">Voir le détail</div>
                    </button>


            <!-- Modal -->
            <div class="modal fade" id="basket{{ key }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Panier du {{ basket.createdAt|date('d/m/Y') }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Statut: {{ basket.status }}</p>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Produit</th>
                                        <th>Qté</th>
                                        <th>Prix</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for line in basket.basketLines %}
                                        <tr>
                                            <td><a href="{{ path('app_arneis_product', {'productId': line.product.id}) }}"><p class="">{{ line.product.name }}</p></a></td>
                                            <td>{{ line.quantity }}</td>
                                            <td>{{ line.product.price }}€</td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                            <td>Total</td>
                                            <td></td>
                                            <td>{{ basket.total }}</td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>

            

                
            {% endfor %}
            </section>
        {% else %} 
            <h4>Vous n'avez pas d'historique de paniers</h4>   
        {% endif %}   
        </section>
        <hr>

        <section class="d-flex flex-column justify-content-center align-items-center fluid">
            
            {% if baskets|length > 0 %}
            <h3>Vos adresses :</h3>
                <section class="d-flex justify-content-between align-items-center flex-wrap fluid p-3">
                {% for key, adress in adresses %}
                    <!-- Button trigger modal -->
                <div class="card px-4 py-3">
                    <p class="m-0 p-0">
                        {{ adress.number }} {{ adress.name }}<br>
                        {{ adress.zip }} {{ adress.city }}<br>
                        {{ adress.country }}
                    </p>
                    <div class="d-flex flex-column justify-content-between align-items-center">
                        <a href="{{ path('app_arneis_user_edit_adress', {'adressId': adress.id} ) }}">
                            <div class="btn btn-sm btn-primary my-2">Modifier</div>
                        </a>
                        <form method="post" action="{{ path('app_arneis_user_delete_adress', {'adressId': adress.id} ) }}" onsubmit="return confirm('Etes vous sur de vouloir surpprimer cette adresse?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adress.id) }}">
                            <button class="btn btn-sm btn-danger my-2">Supprimer</button>
                        </form>
                    </div>
                </div>
                {% endfor %}    
                </section>
            {% else %} 
                <h4>Vous n'avez pas renseigné d'adresse</h4>   
            {% endif %}   
            <a href="{{ path('app_arneis_user_new_adress', {'userId': profil.id} ) }}"><div class="btn btn-success">Ajouter une adresse</div></a>
        </section>

    </main>
    {% include "airneis/partials/footer.html.twig" %}

        {# --------------------------------------------------------------------------------- #}
    </section>
 
    
{% endblock %}

