{% extends 'skynn.html.twig' %}

    {% block lang %}fr{% endblock %}
    {% block title %}CV Yannick TINDY{% endblock %}
    {% block og_title %}CV Yannick TINDY{% endblock %}

    {% block description %}
       Cv Yannick TINDY, développeur web fullstack. Admisteur des sytèmes d'information
    {% endblock %}
    {% block og_description %}
    Cv Yannick TINDY, développeur web fullstack. Admisteur des sytèmes d'information
    {% endblock %}

    {% block keywords %}CV Yannick TINDY{% endblock %}

    {% block canonical %}https://www.silenus.fr{% endblock %}
    {% block og_link %}https://www.silenus.fr{% endblock %}

    {# {% block og_image %}{{randomBanner}}{% endblock %} #}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> #}
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    {{ encore_entry_link_tags('airnes') }}

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}


    
    <section class="container">
        {# --------------------------------------------------------------------------------- #}
        {# Header    ----------------------------------------------------------------------- #}
    <header>
        {% include "airneis/partials/nav.html.twig" %}
        {% include "airneis/partials/slide-hero.html.twig" %}
    </header>
 
    <main class="row">
        <div class="col-12 col-md-5">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="selection">Rechercher un produit</label>
                            <input type="text" class="form-control" id="selection" placeholder="Entrer le nom du produit">
                        </div>

                        <div class="form-group">
                            <label for="category">Choisir une Catégorie</label>
                            <select class="form-control" id="category">
                                {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="matter">Choisir une Matière</label>
                            <select class="form-control" id="matter">
                                {% for matter in matters %}
                                <option value="{{ matter.id }}">{{ matter.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="price-range">Prix</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Min</span>
                                    </div>
                                    <input type="number" class="form-control" id="price-min" aria-label="Prix minimum" min="0" max="500" value="0">
                                    <div class="input-group-append">
                                        <span class="input-group-text">Max</span>
                                    </div>
                                    <input type="number" class="form-control" id="price-max" aria-label="Prix maximum" min="600" max="1200" value="600">
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="in-stock">
                            <label class="form-check-label" for="in-stock">En stock</label>
                        </div>

                        <button type="submit" class="btn btn-primary">Rechercher</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-7">
            {% if products is empty %}
            <div class="alert alert-warning" role="alert">
                Aucun produit trouvé
            </div>
            {% else %}
            <section class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                {% for product in products %}
                <article class="col">
                    <a href="{{ path('app_arneis_product', {'productId': product.product.id}) }}" class="text-decoration-none">
                        <div class="card h-100">
                            <img src="{{ product.imagePath }}" class="card-img-top" alt="{{ product.product.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.product.name }}</h5>
                            </div>
                        </div>
                    </a>
                </article>
                {% endfor %}
            </section>
            {% endif %}
        </div>
    </main>
    {% include "airneis/partials/footer.html.twig" %}

        {# --------------------------------------------------------------------------------- #}
    </section>
 
    
{% endblock %}