.inline-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.inline-list a {
    text-decoration: none;
}

.inline-item {
    display: inline-block;
    margin-right: 15px; /* Espace entre les éléments, ajustez si nécessaire */
}

/* Optionnel : Supprimer le soulignement des liens */
.inline-item a {
    text-decoration: none;
    color: inherit; /* Garder la couleur du texte */
}

.logoArns {
    border-radius: 7px;
    overflow: hidden;
    border: 1px solid black;
}

.miniature {
    width: 50px;
    height: 50px;
    border-radius: 7px;
    overflow: hidden;
    // border: 1px solid black;
}

.h300 {
    height: 300px;
}

hr {
    border: 1px solid grey; /* Définit une bordure grise d'une épaisseur de 1px */
    /* Vous pouvez également ajuster d'autres propriétés si nécessaire */
}