{% extends 'skynn.html.twig' %}

    {% block lang %}fr{% endblock %}
    {% block title %}CV Yannick TINDY{% endblock %}
    {% block og_title %}CV Yannick TINDY{% endblock %}

    {% block description %}
       Cv Yannick TINDY, développeur web fullstack. Admisteur des sytèmes d'information
    {% endblock %}
    {% block og_description %}
    Cv Yannick TINDY, développeur web fullstack. Admisteur des sytèmes d'information
    {% endblock %}

    {% block keywords %}CV Yannick TINDY{% endblock %}

    {% block canonical %}https://www.silenus.fr{% endblock %}
    {% block og_link %}https://www.silenus.fr{% endblock %}

    {# {% block og_image %}{{randomBanner}}{% endblock %} #}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> #}
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    {{ encore_entry_link_tags('airnes') }}

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}


    
    <section class="container">
        {# --------------------------------------------------------------------------------- #}
        {# Header    ----------------------------------------------------------------------- #}
    <header>
    <nav class="fluid d-flex justify-content-CENTER py-2 px-4">
        <a href="{{ path('admin_airneis') }}"><div class="btn btn-sm btn-primary mx-2">Dashboard</div></a>
        <a href="{{ path('app_arneis_admin_basket') }}"><div class="btn btn-sm btn-primary mx-2">Administration Panier</div></a>
        <a href="{{ path('app_arneis_admin_statistic') }}"><div class="btn btn-sm btn-primary mx-2">Panneau de Statistiques</div></a>
    </header>
    



        <main class="fluid">
            <section>
                <h1 class="text-primary">Administration des paniers</h1>
            </section>
            <hr>

            <section class="fluid p-3">
                <h2>Paniers Payés</h2>
                <table class="table table-striped fluid">
                    <thead>
                        <tr>
                            <th>Utilisateur</th>
                            <th>Date</th>
                            <th>Statut</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, basket in basketPaid %}
                        <tr>
                            <td class="px-3">{{ basket.user.firstname }} {{ basket.user.lastname }}</td>
                            <td class="px-3">{{ basket.createdAt|date('d/m/Y') }}</td>
                            <td class="px-3">{{ basket.status }}</td>
                            <td class="px-3">
                                <a href="{{ path('app_arneis_admin_basket_preparation', {'basketId': basket.id}) }}" class="btn btn-sm btn-primary">Passer à "Préparation"</a>
                                <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#paid-{{ key }}">
                                    Voir le détail
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="paid-{{ key }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog  modal-xl">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title fs-5" id="exampleModalLabel">Commande AIRNEIS #{{ basket.id }} | Date : {{ basket.createdAt|date('d/m/Y') }}</h3>
                                            
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="m-0 p-0" >{{ basket.user.firstName }} {{ basket.user.LastName }}</p>
                                            <p class="m-0 p-0" >{{ basket.user.email }}</p>
                                            <p class="m-0 p-0" >{{ basket.user.mobile }}</p>
                                            {% if basket.arnsAdress is not null %}
                                                <p class="m-0 p-0">
                                                    {{ basket.arnsAdress.number }} {{ basket.arnsAdress.name }}<br>
                                                    {{ basket.arnsAdress.zip }} {{ basket.arnsAdress.city }}, {{ basket.arnsAdress.country }}
                                                </p>
                                            {% else %}
                                                <p class="">Adresse non renseignée</p>
                                            {% endif %}
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Produit</th>
                                                        <th>Quantité</th>
                                                        <th>Prix</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for line in basket.basketLines %}
                                                    <tr>
                                                        <td>{{ line.product.name }}</td>
                                                        <td>{{ line.quantity }}</td>
                                                        <td>{{ line.product.price }} €</td>
                                                        <td>{{ line.quantity * line.product.price }} €</td>
                                                    </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <td></td>
                                                        <td><h4>Total</h4></td>
                                                        <td></td>
                                                        <td>
                                                        {% if basket.total is defined %}
                                                            <h4>{{ basket.total }} €</h4>
                                                        {% else %}
                                                            <h4>N/A</h4> <!-- Optionnel: Texte affiché si le total n'existe pas -->
                                                        {% endif %}</td>
                                                        
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            <hr>
            <section class="fluid p-3">
                <h2>Paniers en Préparation</h2>
                <table class="table table-striped fluid">
                    <thead>
                        <tr>
                            <th>Utilisateur</th>
                            <th>Date</th>
                            <th>Statut</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, basket in basketPreparation %}
                        <tr>
                            <td class="px-3">{{ basket.user.firstname }} {{ basket.user.lastname }}</td>
                            <td class="px-3">{{ basket.createdAt|date('d/m/Y') }}</td>
                            <td class="px-3">{{ basket.status }}</td>
                            <td class="px-3">
                                <a href="{{ path('app_arneis_admin_basket_shipped', {'basketId': basket.id}) }}" class="btn btn-sm btn-success">Passer à "Expédié"</a>
                                <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#prepare{{ key }}">
                                    Voir le détail
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="prepare{{ key }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog  modal-xl">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title fs-5" id="exampleModalLabel">Commande AIRNEIS #{{ basket.id }} | Date : {{ basket.createdAt|date('d/m/Y') }}</h3>
                                            
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="m-0 p-0" >{{ basket.user.firstName }} {{ basket.user.LastName }}</p>
                                            <p class="m-0 p-0" >{{ basket.user.email }}</p>
                                            <p class="m-0 p-0" >{{ basket.user.mobile }}</p>
                                            {% if basket.arnsAdress is not null %}
                                                <p class="m-0 p-0">
                                                    {{ basket.arnsAdress.number }} {{ basket.arnsAdress.name }}<br>
                                                    {{ basket.arnsAdress.zip }} {{ basket.arnsAdress.city }}, {{ basket.arnsAdress.country }}
                                                </p>
                                            {% else %}
                                                <p class="">Adresse non renseignée</p>
                                            {% endif %}
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Produit</th>
                                                        <th>Quantité</th>
                                                        <th>Prix</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for line in basket.basketLines %}
                                                    <tr>
                                                        <td>{{ line.product.name }}</td>
                                                        <td>{{ line.quantity }}</td>
                                                        <td>{{ line.product.price }} €</td>
                                                        <td>{{ line.quantity * line.product.price }} €</td>
                                                    </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td><h4>Total</h4></td>
                                                        
                                                        <td>
                                                        {% if basket.total is defined %}
                                                            <h4>{{ basket.total }} €</h4>
                                                        {% else %}
                                                            <h4>N/A</h4> <!-- Optionnel: Texte affiché si le total n'existe pas -->
                                                        {% endif %}</td>
                                                        
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            <hr>
            <section class="fluid p-3">
                <h2>Tous les paniers <span class="text-danger">Pour la démonstration</span></h2>
                <table class="table table-striped fluid">
                    <thead>
                        <tr>
                            <th>Utilisateur</th>
                            <th>Date</th>
                            <th>Statut</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, basket in allBaskets %}
                        <tr>
                            <td class="px-3">{{ basket.user.firstname }} {{ basket.user.lastname }}</td>
                            <td class="px-3">{{ basket.createdAt|date('d/m/Y') }}</td>
                            <td class="px-3 {% if basket.status == constant('App\\Enum\\ArnsBasketStatus::Paid') %}
                                                text-warning
                                            {% elseif basket.status == constant('App\\Enum\\ArnsBasketStatus::Preparation') %}
                                                text-primary
                                            {% elseif basket.status == constant('App\\Enum\\ArnsBasketStatus::Abandoned') %}
                                                text-secondary
                                            {% elseif basket.status == constant('App\\Enum\\ArnsBasketStatus::Shipped') %}
                                                text-success
                                            {% endif %}">
                                {{ basket.status }}
                            </td>
                            <td class="px-3">
                                <a href="{{ path('app_arneis_admin_basket_payed', {'basketId': basket.id}) }}" class="btn btn-sm btn-primary">Passer à "Payé"</a>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#all{{ key }}">
                                    Voir le détail
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="all{{ key }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog  modal-xl">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title fs-5" id="exampleModalLabel">Commande AIRNEIS #{{ basket.id }} | Date : {{ basket.createdAt|date('d/m/Y') }}</h3>
                                            
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="m-0 p-0" >{{ basket.user.firstName }} {{ basket.user.LastName }}</p>
                                            <p class="m-0 p-0" >{{ basket.user.email }}</p>
                                            <p class="m-0 p-0" >{{ basket.user.mobile }}</p>
                                            {% if basket.arnsAdress is not null %}
                                                <p class="m-0 p-0">
                                                    {{ basket.arnsAdress.number }} {{ basket.arnsAdress.name }}<br>
                                                    {{ basket.arnsAdress.zip }} {{ basket.arnsAdress.city }}, {{ basket.arnsAdress.country }}
                                                </p>
                                            {% else %}
                                                <p class="">Adresse non renseignée</p>
                                            {% endif %}
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Produit</th>
                                                        <th>Quantité</th>
                                                        <th>Prix</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for line in basket.basketLines %}
                                                    <tr>
                                                        <td>{{ line.product.name }}</td>
                                                        <td>{{ line.quantity }}</td>
                                                        <td>{{ line.product.price }} €</td>
                                                        <td>{{ line.quantity * line.product.price }} €</td>
                                                    </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td><h4>Total</h4></td>
                                                        
                                                        <td>
                                                        {% if basket.total is defined %}
                                                            <h4>{{ basket.total }} €</h4>
                                                        {% else %}
                                                            <h4>N/A</h4> <!-- Optionnel: Texte affiché si le total n'existe pas -->
                                                        {% endif %}</td>
                                                        
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                        </div>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>

        

        
           
        </main>

        {# --------------------------------------------------------------------------------- #}
    </section>

    
    {# end aside ----------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------- #}

   
    
{% endblock %}

