{% extends '@EasyAdmin/layout.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>Bienvenue sur le Panneau d'Administration Airneis</h1>
        {# <div class="row">
            <div class="col">
                <h1>Bienvenue sur le Panneau d'Administration Airneis</h1>
                <p>Vous pouvez gérer les différentes entités de votre application à partir d'ici.</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Gestion des Utilisateurs</h2>
                        <p class="card-text">Accédez à la liste des utilisateurs et gérez leurs informations.</p>
                        <a href="{{ path('admin_airneis_user_index') }}" class="btn btn-primary">Gérer les Utilisateurs</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Gestion des Produits</h2>
                        <p class="card-text">Accédez à la liste des produits, catégories et matières.</p>
                        <a href="{{ path('admin_airneis_arns_product_index') }}" class="btn btn-primary">Gérer les Produits</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Gestion des Slides</h2>
                        <p class="card-text">Accédez à la liste des slides et gérez leur contenu.</p>
                        <a href="{{ path('admin_airneis_arns_slide_index') }}" class="btn btn-primary">Gérer les Slides</a>
                    </div>
                </div>
            </div> #}
        </div>
    </div>
{% endblock %}