{% extends 'skynn.html.twig' %}

    {% block lang %}fr{% endblock %}
    {% block title %}CV Yannick TINDY{% endblock %}
    {% block og_title %}CV Yannick TINDY{% endblock %}

    {% block description %}
       Cv Yannick TINDY, développeur web fullstack. Admisteur des sytèmes d'information
    {% endblock %}
    {% block og_description %}
    Cv Yannick TINDY, développeur web fullstack. Admisteur des sytèmes d'information
    {% endblock %}

    {% block keywords %}CV Yannick TINDY{% endblock %}

    {% block canonical %}https://www.silenus.fr{% endblock %}
    {% block og_link %}https://www.silenus.fr{% endblock %}

    {# {% block og_image %}{{randomBanner}}{% endblock %} #}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('skynn') }}

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
    {# --------------------------------------------------------------------------------- #}
    {# aside left----------------------------------------------------------------------- #}
    <aside class="aside-left shdw-in-drk4" style="background-image: url('{{ asset('build/img/bando/bando1.jpg') }}');">
 
    </aside>
    {# end aside ----------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------- #}

    
    <section class="trunk fluid ">
        {# --------------------------------------------------------------------------------- #}
        {# Header    ----------------------------------------------------------------------- #}
        <header class="bk-blk">
            <nav class="bk-drk3 shdw-in-drk3 pad3">

            </nav>
            <section class="hero-constainer disp-col-center pad1"> 
                <div class="hero fluid brdr-rad10 shdw-in-drk4">
                    <img src="{{ asset('build/img/banner/ban0.jpg') }}" alt="" class="hero-img">
                    <div class="hero-content disp-col-center shdw-in-drk3 brdr-rad10 padx2 pady1 mar1">
                        <h1 class="title2 txt-scnd notranslate " translate="no">Texte Silenus</h1><br>
                    </div>
                </div> 
            </section>    
            <div class="bk-grad1 shdw-in-drk4 pad4"></div>       
        </header>
        {# header end ---------------------------------------------------------------------- #}
        {# --------------------------------------------------------------------------------- #}


        {# --------------------------------------------------------------------------------- #}
        {# Main      ----------------------------------------------------------------------- #}
        <main class="">
            <section>

            </section>
        </main>
        {# Main end  ----------------------------------------------------------------------- #}
        {# --------------------------------------------------------------------------------- #}

        {# --------------------------------------------------------------------------------- #}
        {# Footer      --------------------------------------------------------------------- #}
        <footer class="bg-danger p-1">
            
        </footer>
        {# footer end  --------------------------------------------------------------------- #}
        {# --------------------------------------------------------------------------------- #}
    </section>

    {# --------------------------------------------------------------------------------- #}
    {# aside Rigth----------------------------------------------------------------------- #}
    <aside class="aside-left bk-drk3 shdw-in-drk4 pad2">
        <h2>SKYNN</h2>
        <p>CSS Franwork</p>
        <ul>
            <h3>Base</h3>
            <li>-</li>
            <li>-</li>
            <li>-</li>
            <li>Root</li>
            <li>Font</li>
            <li>Spacing</li>
            <li>Display</li>
            <li>Background</li>
        </ul>

    </aside>
    {# end aside ----------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------- #}

   
    
{% endblock %}
