{% extends 'skynn.html.twig' %}

    {% block lang %}fr{% endblock %}
    {# {% block title %}CV Yannick TINDY{% endblock %}
    {% block og_title %}CV Yannick TINDY{% endblock %}

    {% block description %}
       Cv Yannick TINDY, développeur web fullstack. Admisteur des sytèmes d'information
    {% endblock %}
    {% block og_description %}
    Cv Yannick TINDY, développeur web fullstack. Admisteur des sytèmes d'information
    {% endblock %}

    {% block keywords %}CV Yannick TINDY{% endblock %}

    {% block canonical %}https://www.silenus.fr{% endblock %}
    {% block og_link %}https://www.silenus.fr{% endblock %}

    {# {% block og_image %}{{randomBanner}}{% endblock %} #}

    {# {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %} #}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('airnes') }}

{% endblock %}


{% block body %}

    <div class="container py-5">
        <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
            <div class="card-header">
                <h1 class="card-title">Renew your password!</h1>
            </div>
            <div class="card-body">
                <p>{{ username }},</p>
                <p>En cliquant sur ce lien vous pourrez renouveler votre mot de passe.</p>
                <a href="{{ url }}"><button class="btn btn-primary">Renouveler</button></a>
                <p>Bien amicalement,<br>
                The Airnes Shop Team</p>
            </div>
            </div>
        </div>
        </div>
    </div>
    
{% endblock %}
