<form method="post" action="{{ path('app_arns_adress_delete', {'id': arns_adress.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ arns_adress.id) }}">
    <button class="btn">Delete</button>
</form>
