<!DOCTYPE html>

<title>Edit ArnsAdress</title>

{% block body %}
    <h1>Edit ArnsAdress</h1>

    {{ include('arns_adress/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_arns_adress_index') }}">back to list</a>

    {{ include('arns_adress/_delete_form.html.twig') }}
{% endblock %}
