<!DOCTYPE html>

<title>ArnsAdress index</title>

{% block body %}
    <h1>ArnsAdress index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Name</th>
                <th>Zip</th>
                <th>City</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for arns_adress in arns_adresses %}
            <tr>
                <td>{{ arns_adress.id }}</td>
                <td>{{ arns_adress.number }}</td>
                <td>{{ arns_adress.name }}</td>
                <td>{{ arns_adress.zip }}</td>
                <td>{{ arns_adress.city }}</td>
                <td>{{ arns_adress.country }}</td>
                <td>
                    <a href="{{ path('app_arns_adress_show', {'id': arns_adress.id}) }}">show</a>
                    <a href="{{ path('app_arns_adress_edit', {'id': arns_adress.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_arns_adress_new') }}">Create new</a>
{% endblock %}
