<!DOCTYPE html>

<title>New ArnsAdress</title>

{% block body %}
    <h1>Create new ArnsAdress</h1>

    {{ include('arns_adress/_form.html.twig') }}

    <a href="{{ path('app_arns_adress_index') }}">back to list</a>
{% endblock %}
