<!DOCTYPE html>

<title>ArnsAdress</title>

{% block body %}
    <h1>ArnsAdress</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ arns_adress.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ arns_adress.number }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ arns_adress.name }}</td>
            </tr>
            <tr>
                <th>Zip</th>
                <td>{{ arns_adress.zip }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ arns_adress.city }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ arns_adress.country }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_arns_adress_index') }}">back to list</a>

    <a href="{{ path('app_arns_adress_edit', {'id': arns_adress.id}) }}">edit</a>

    {{ include('arns_adress/_delete_form.html.twig') }}
{% endblock %}
